@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: #001e3c;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
